services:

  postgres:
    container_name: appointment-system-db
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=appointment_system

  backend:
    container_name: appoinment-system-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - postgres
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - NODE_ENV=development
      - DATABASE_URL=postgres://postgres:password@postgres:5432/appointment_system

  frontend:
    container_name: appoinment-system-web
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:5173"
    environment:
      - VITE_APP_API_URL=http://localhost:4000

volumes:
  postgres-data:
